{% extends 'base.html'%}

{% block title %}
    Make Reservation
{% endblock %}

{% block body %}
    <div class="card w-50  mx-auto text-center mt-5">
        <div class=" btn btn-secondary d-flex justify-content-center">
            <h4>Cancel Reservation</h4>
        </div>
        <div class="card-body">
            <form action="{% url 'delete' reservation.id %}" method="post">
                {% csrf_token %}
                <h5>Are you sure that you want to cancel on
                    <span>{{ reservation.date }}</span>
                    at <span>{{ reservation.time}}</span>?</h5>
                <a class="btn btn-info" href="{% url 'reservation' %}">No, go back</a>
                <input class="btn btn-danger" type="submit" value="Yes">
            </form>
        </div>
    </div>
{% endblock %}