{% extends 'restaurant/base.html'%}

{% block title %}
    Make Reservation
{% endblock %}

{% block body %}
    <div id="navigation ">
    <nav class="navbar  navbar-expand-md navbar-light bg-warning">
        <div class="container-fluid">
            <a class="navbar-brand fw-bolder fs-4" href="#">
                <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                     class="d-inline-block align-text-top">
                Bootstrap
            </a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end fw-bold " id="navbarNav">
                <ul class="navbar-nav text-end ">
                    <li class="nav-item">
                        <a class="nav-link " href="#">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Hours & Location</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="#">Reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class = "container">
    <div class = "row">
        <form action="{% url 'confirm_reservation' %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="form-control p-0">{{form}}</div>
                    <button class="btn btn-primary" type="submit">Make Reservation</button>
                </div>
        </form>
    </div>
</div>
{% endblock %}