{% extends 'base.html'%}

{% block title %}
    Make Reservation
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            Change Reservation
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-9 ">
                        <div class="card-body px-0">
                            <p class="card-title">Reservation</p>
                            {{ form}}
                        </div>
                    </div>
                </div>
                <a class="btn btn-info " href="{% url 'reservation' %}"><-Go back</a>
                <button class="btn btn-primary " type="submit">Change</button>
            </form>
        </div>
    </div>
{% endblock %}