body {
    background: #FAF1E6;
    padding : 0px;

}
#menu,#location,#review, #about{
    background: aliceblue;
}
#brand {
    font-family: 'Orbitron', sans-serif;
}
#address {
    color: #2c5aab;
    background: aliceblue;
}
.asteriskField {
    display: none;
}
.header {
  padding: 1%;
  text-align: center;
  background: goldenrod;
  color: white;
  font-size: 3rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}
.footer-color{
    text-decoration: crimson;
}