{% extends 'base.html' %}

{% block title %}
    About Us
{% endblock %}

{% block body %}
    <!--  END NAVBAR -->
    <h3 class="display-2 text-center m-5">About Us</h3>
    <p class="display-6 m-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad autem commodi cum error eveniet illum, impedit ipsam libero nam nostrum qui repudiandae similique suscipit tempora veniam veritatis! Eveniet, voluptates?</p>
    <br>
    <div class="container">
        <div class="">
        </div>
    </div>
{% endblock %}