{% extends 'restaurant/base.html' %}

{% block title %}
    About Us
{% endblock %}

{% block body %}
    <!--   NAVBAR   -->
    <div id="navigation ">
    <nav class="navbar  navbar-expand-md navbar-light bg-warning">
        <div class="container-fluid">
            <a class="navbar-brand fw-bolder fs-4" href="#">
                <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                     class="d-inline-block align-text-top">
                Bootstrap
            </a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end fw-bold " id="navbarNav">
                <ul class="navbar-nav text-end ">
                    <li class="nav-item">
                        <a class="nav-link " href="#">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Hours & Location</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
    <!--  END NAVBAR -->
    <h3 class="display-2 text-center m-5">About Us</h3>
    <p class="display-6 m-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad autem commodi cum error eveniet illum, impedit ipsam libero nam nostrum qui repudiandae similique suscipit tempora veniam veritatis! Eveniet, voluptates?</p>
    <br>
    <div class="container">
        <div class="">

        </div>
    </div>
{% endblock %}