{% extends 'base.html' %}
{% load static %}
{% block title %}
    Menu
{% endblock %}

{% block body %}

    <h3 class="display-2 text-center m-5">Our Menu</h3>
    <h6 class="display-6 m-5">Here you will find our menu, which ranges from contemporary American to Italian and other Eastern styles. Click on the part of the menu you wish to view. Our entire menus is also available for Togo through delivery and pickup options. See
        <a href="{% url 'about' %}">here</a></h6>
    <div class="d-flex justify-content-around my-4">
            <button id="happy_btn" type="button" class="btn btn-warning shadow p-3 mb-5 ">Happy Hour and Specials</button>
            <button id="drink_btn" type="button" class="btn btn-warning shadow p-3 mb-5">Drinks</button>
            <button id="app_btn" type="button" class="btn btn-warning shadow p-3 mb-5">Appetizers</button>
            <button id="entree_btn" type="button" class="btn btn-warning shadow p-3 mb-5">Entrees</button>
            <button id="dessert_btn" type="button" class="btn btn-warning shadow p-3 mb-5">Desserts</button>
        </div>
<div class="container">
  <div class="row">
    <div class="col align-self-center">
      <img class="m-5 rounded" src="{% static 'images/strawberry_shortcake.jpeg' %}" alt="strawberry shortcake" width="400">
    </div>
    <div class="col align-self-center">
      <img class="m-5 rounded" src="{% static 'images/fried_mozz.jpeg' %}" alt="fried mozz" width="400">
    </div>
    <div class="col align-self-center">
      <img class="m-5 rounded" src="{% static 'images/miami_vice.jpeg'%}" alt="miami vice" width="400">
    </div>
      <div class="col align-self-center">
      <img class="m-5 rounded" src="{% static 'images/steak_kabobs.jpeg'%}" alt="kabobs" width="400">
    </div>
  </div>
</div>
    <h3 id="happy_hour" class="display-2 text-center m-5">Happy Hour and Specials</h3>
    <p class ="display-6 text-center m-5 text-secondary">
        <i>Our current happy hour runs from 2pm-5pm and 8pm-10pm every day of the week!</i>
    </p>
    <div class = "container">
        <div class = "row"></div>
            <div class="col">
                <p class ="display-6 m-3 text-primary">Half-Off Appetizers</p>
            </div>
        <div class="row">
            <div class ="col-6">
                <p class ="display-6 m-5 text-secondary">Giant Pretzels</p>
            </div>
            <div class = "col-6">
                <p class ="display-6 m-5 text-secondary"><i>............................$5.50</i></p>
            </div>
        </div>
        <div class="row">
            <div class ="col-6">
                <p class ="display-6 m-5 text-secondary">Fried Mozzarella Bites</p>
            </div>
            <div class = "col-6">
                <p class ="display-6 m-5 text-secondary"><i>............................$6.00</i></p>
            </div>
        </div>
        <div class="row">
            <div class ="col-6">
                <p class ="display-6 m-5 text-secondary">Loaded Nachos</p>
            </div>
            <div class = "col-6">
                <p class ="display-6 m-5 text-secondary"><i>............................$7.00</i></p>
            </div>
        </div>
    <div class = "row">
            <div class="col">
                <p class ="display-6 m-3 text-primary">Drink Specials</p>
            </div>
    </div>
    <div class = "row">
        <div class="col">
            <p class ="display-6 m-5 text-center text-secondary"><i>All draft beers are 5$, cocktails are 3$ off, and all wines are 2$ off per glass</i></p>
        </div>
    </div>
    </div>
    <h3 id="drinks" class="display-2 text-center m-5">Drinks</h3>
    <h3 id="apps" class="display-2 text-center m-5">Appetizers</h3>
    <h3 id="entrees" class="display-2 text-center m-5">Entrees</h3>
    <h3 id="desserts" class="display-2 text-center m-5">Desserts</h3>
{% endblock %}
{% block script %}
<script src="{% static 'javascript/menu.js' %}"></script>
<script src ="{% static 'javascript/jquery-3.6.0.min.js' %}"></script>
{% endblock %}